[submodule "tst/test_helper/bats-support"]
	path = tst/test_helper/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "tst/test_helper/bats-asserts"]
	path = tst/test_helper/bats-asserts
	url = https://github.com/bats-core/bats-assert
[submodule "tst/test_helper/bats-file"]
	path = tst/test_helper/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "tst"]
	path = tst
	url = git@github.com:Blackstareye/deep_copy_submodules_test.git
